body {
    font-family: "Arial", sans-serif;
}
.container {
    width: 600px;
    margin: 0 auto;
}

.keyboard {
	width: 35px;
	height: 35px;
	margin-top: 4px;
}
.highlighted {
	border-color: red;
}
.card,
.left,
.right,
.result {
	width: 45px;
	height: 35px;
	margin-top: 4px;
	text-align: center;
	font-weight: bold;
}
.operation {
	width: 35px;
	height: 35px;
	text-align: center;
	font-weight: bold;
}
#target {
	width: 75px;
	height: 35px;
	text-align: center;
}
#solve {
	width: 75px;
	height: 35px;
}
#solution {
}
