<!-- /resources/templates/index.mustache -->
<html>
	<head>
		<title>Summle solver</title>
		<link rel="stylesheet" type="text/css" href="/style.css">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	</head>
	<body>
		<div class="container">
			<h1>Summle solver</h1>
			<span>
				<button class="keyboard" type="button">1</button>
				<button class="keyboard" type="button">2</button>
				<button class="keyboard" type="button">3</button>
				<button class="keyboard" type="button">25</button>
				<br>
			</span>
			<span>
				<button class="keyboard" type="button">4</button>
				<button class="keyboard" type="button">5</button>
				<button class="keyboard" type="button">6</button>
				<button class="keyboard" type="button">50</button>
				<br>
			</span>
			<span>
				<button class="keyboard" type="button">7</button>
				<button class="keyboard" type="button">8</button>
				<button class="keyboard" type="button">9</button>
				<button class="keyboard" type="button">75</button>
				<br>
			</span>
			<span>
				<button class="keyboard" type="button">10</button>
				<button class="keyboard" type="button">11</button>
				<button class="keyboard" type="button">12</button>
				<button class="keyboard" type="button">100</button>
				<br>
			</span>
			<h2>Input</h2>
			<span>
				<input id="card1" class="card" type="text" readonly></input>
				<input id="card2" class="card" type="text" readonly></input>
				<input id="card3" class="card" type="text" readonly></input>
				<input id="card4" class="card" type="text" readonly></input>
				<input id="card5" class="card" type="text" readonly></input>
				<input id="card6" class="card" type="text" readonly></input>
				<br>
			</span>
			<h2>Result</h2>
			<span>
				<input id="target" type="text" readonly></input>
				<button id="solve" type="button">Solve!</button>
			</span>
			<div id="solution">
				<h2>Solution</h2>
				<span id="op1">
					<input class="left" type="text" readonly></input>
					<input class="operation" type="text" readonly></input>
					<input class="right" type="text" readonly></input>
					<span>=</span>
					<input class="result" type="text" readonly></input>
					<br>
				</span>
				<span id="op2">
					<input class="left" type="text" readonly></input>
					<input class="operation" type="text" readonly></input>
					<input class="right" type="text" readonly></input>
					<span>=</span>
					<input class="result" type="text" readonly></input>
					<br>
				</span>
				<span id="op3">
					<input class="left" type="text" readonly></input>
					<input class="operation" type="text" readonly></input>
					<input class="right" type="text" readonly></input>
					<span>=</span>
					<input class="result" type="text" readonly></input>
					<br>
				</span>
				<span id="op4">
					<input class="left" type="text" readonly></input>
					<input class="operation" type="text" readonly></input>
					<input class="right" type="text" readonly></input>
					<span>=</span>
					<input class="result" type="text" readonly></input>
					<br>
				</span>
				<span id="op5">
					<input class="left" type="text" readonly></input>
					<input class="operation" type="text" readonly></input>
					<input class="right" type="text" readonly></input>
					<span>=</span>
					<input class="result" type="text" readonly></input>
					<br>
				</span>
			</div>
		</div>
	</body>
	<script>
	 let card = 1;
	 $(document).ready(function() {
		 $('#card'+card).addClass('highlighted');
		 $('.card').val('');
		 $('#target').val('');
	 });
	 $('.keyboard').on('click', function() {
		 if (card > 7)
			 return;
		 n = parseInt($(this).text());
		 if (card === 7) {
			 // fill input 'target'
			 res = parseInt($('#target').val()) || 0;
			 res = res*10 + n;
			 if (res > 999) {
				 $('#target').val('');
				 return;
			 }
			 $('#target').val(res);
		 }
		 else if (card < 7) {
			 // fill inputs 'card?'
			 $('#card'+card).val(n);
			 $('#card'+card).removeClass('highlighted');
			 card += 1;
			 if (card < 7) {
				 $('#card'+card).addClass('highlighted');
			 }
			 else {
				 $('#target').addClass('highlighted');
			 }
		 }
	 });
	 $('#solve').on('click', function() {
		 var complete = true;
		 // check if all inputs are filled
		 $("[id^='card'], #target").each(function() {
			 if ($(this).val() === '') {
				 complete = false;
				 return false;
			 }
		 });
		 if (! complete) {
			 console.log('Incomplete input!');
			 return;
		 }
		 // send query to solver
		 var query = 'solve?result=' + $('#target').val() + '&'
				   + [1,2,3,4,5,6].map(function(n) {
					   return 'card' + n + '=' + $('#card'+n).val();
				   }).join('&');
		 $.getJSON(query, function(data) {
			 if (data) {
				 let n = 1;
				 data.forEach(function(op) {
					 let [operation, left, right]= op;
					 let result = 0;
					 switch (operation) {
						 case "+": result = left + right; break;
						 case "-": result = left - right; break;
						 case "/": result = left / right; break;							 
						 case "*": result = left * right; break;
						 default:
							 throw 'invalid operation '+operation;
					 }
					 $('#op'+ n).find('.left').val(left);
					 $('#op'+ n).find('.operation').val(operation);
					 $('#op'+ n).find('.right').val(right);
					 $('#op'+ n).find('.result').val(result);
					 n += 1;
				 });
			 }
		 });
	 })		 
	</script>
</html>
